body {
    margin: 0px auto;
    width: 97%;
	max-width: 800px;
    color: rgb(160,105,30);
    background-color: #F5F3EE;
	background: url("../fig/fade_blue_gota.jpg") ;
	font-family: 'Vollkorn', "Times New Roman", Times, serif;
	font-size: 16px;
}


/*@media only screen and (max-width: 984px) {
	body {
	    margin: 0px auto;
	    width: 97%;
	/*	max-width: 800px;*/
	    color: rgb(160,105,30);
	    background-color: #F5F3EE;
		background: url("../fig/fade_blue_gota0.jpg") ;
		font-family: 'Vollkorn', "Times New Roman", Times, serif;
		font-size: 16px;
	}
}*/


nav ul, footer ul {
/*    font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    padding: 0px;
	font-size: 90%;
    list-style: none;
    font-weight: normal;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
	font-size: 1em;
    color: #D9853B;
}
a:hover {
    text-decoration: none;
	font-size: 1em;
	color: #C63D0F;
	/*font-style: bold;
	font-variant:small-caps;
	font-weight:bold;*/
/*	border-bottom: 3px solid #C63D0F;*/
/*	border-bottom: 2.5px solid #C63D0F;*/
	box-shadow: 0px -24px 0px rgb(252,255,208) inset;
}

h1 { 
    font-size: 140%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    color: rgb(160,105,30);
}
h2 {
    font-size: 1.25em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    color: rgb(160,105,30);
}
h3 {
    padding: 0px;
	font-size: 100%;
    list-style: none;
    font-weight: normal;
}

p {
	font-size: 18px;
    line-height: 1.5;
    color: rgb(0,32,61);
}




footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.1em;
    line-height: 1.4em;
    text-decoration: none;
    color: rgb(201,174,80);
}

ul.posts li {
    list-style: none;
	font-size: 90%;
}

li {
  font-size: 110%;
  margin-top: 0.15em;
/*  list-style: none;
  list-style-type: square;*/
  margin-bottom: 0.15em; }
  li li {
    font-size: 100%;
    margin-top: 0.1em;
    margin-bottom: 0.1em; }
   li li li {
      font-size: 100%;
	  margin-top: 0.1em;
	  margin-bottom: 0.1em; }
  li p {
    font-size: 100%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin: .5em 0; 
}
	
div.ex1 {
	    width: 500px;
	    margin: auto;
	    border: 3px solid #73AD21;
}

div.ex2 {
	    max-width: 500px;
	    margin: auto;
	    border: 3px solid #73AD21;
}

div.center {
	    margin: 0px auto;
		width: 50%;
}

	
div.citiesfront {
		max-width: 100%;
		background-color: rgb(244,240,223);
/*		background-color: rgb(236,200,223);*/
		background: url("../fig/offwhite.png") ;
	    margin: 0px 0 20px 0;
	    padding: 12px;
		border-radius: 10px;
		border: 1px solid #D9853B;
		font-size: 16px;
} 
	
div.card {
		max-width: 100%;
		background: url("../fig/offwhite.png") ;
	    margin: 0px 0px 20px 0px;
	    padding: 20px;
		border-radius: 40px;
		border: 1px solid #D9853B;
	    -webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;	
	
}


	
div.citiesback {
		max-width: 100%;
		background-color: rgb(244,240,223);
/*		background-color: rgb(198,110,58);*/
		background: url("../fig/offwhite.png") ;
	    margin: 0px 0 20px 0;
	    padding: 20px;
		border-radius: 10px;
		border: 1px solid #D9853B;
}

div.citiesheader {
/*		max-width: 180px;*/
		display: inline-block;
		background-color: rgb(244,240,223);
		background: url("../fig/offwhite.png") ;
	    margin: 0px 0px 0px 0px;
	    padding: 5px 0px 5px 20px;
		border-radius: 10px;
		border: 1px solid #D9853B;
}
	
div.citiesicons {
/*		max-width: 180px;*/
		display: inline-block;
		background-color: rgb(244,240,223);
		background: url("../fig/offwhite.png") ;
	    margin: 0px 0px 0px 0px;
	    padding: 10px 0px 5px 15px;
		border-radius: 25px;
		border: 1px solid #D9853B;
}
	
div.citiestitle {
/*		max-width: 180px;*/
		display: inline-block;
		background-color: rgb(244,240,223);
		background: url("../fig/offwhite.png") ;
	    margin: 0px 0px 0px 0px;
	    padding: 5px;
		border-radius: 10px;
		border: 1px solid #D9853B;
		font-size: 80%;
}
	
.newspaper {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	column-gap: 60px;
} 

.container {
    width: 100%;
}

.one {
    width: 110px;
	float: left;
}
.two {
    width: 400px;
	float: left;
}
.three {
    width: 300px;
	float: center;
}



img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 99%;
    border: 0px solid #ddd;
    border-radius: 10px;
    padding: 0px;
}


img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}