<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
			<!-- <link rel="stylesheet" href="/css/maind.css"> -->
			<!-- default dektop -->
			<!-- <link rel="stylesheet" href="/css/maind.css">
			<link rel="stylesheet" media="screen and (max-width: 984px)" href="/css/mainm.css"> -->
			<!-- default mobile -->
			<link rel="stylesheet" href="/css/mainm.css">
			<link rel="stylesheet" media="screen and (min-width: 1025px)" href="/css/maind.css">
			<link rel="stylesheet"
			      href="https://fonts.googleapis.com/css?family=Vollkorn">
		</head>
		<body>
			<nav>
	    		<ul> 
					<div align="center">
					<div class="citiesheader">
					<li><a href="/am_about">Mahi & Aniket</a></li>
					<li><a href="/am_card"> The Card</a></li>
					<li><a href="/am_music">Music</a></li>
					<li><a href="/am_info">Info</a></li>
					<!-- <li><a href="/am_family">Family</a></li> -->
					<!-- <li><a href="/">The wedding</a></li> -->
	        		<!-- <li><a href="/am_blog/">Blog</a></li> -->
				<!-- <li><a href="http://kaniket1.github.io/blog/atom.xml">RSS</a></li> -->
				</div>
				</div>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer style="border: none;">
	    		<ul>
					<div align="center">
					<div class="citiesheader">
	        		<li><a href="mailto:mahiwedsaniket@gmail.com">RSVP</a></li>
	        		<li><a href="http://mahiwedsaniket.github.io">mahiwedsaniket.github.io</a></li>
				</div>
				</div>
				</ul>
			</footer>
		</body>
	</html>


