<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet"
			      href="https://fonts.googleapis.com/css?family=Vollkorn">
		</head>
		<body>
			<nav>
	    		<ul> 16
					<div align="right">
					<div class="citiesheader">
	        		<li><a href="/">Blog</a></li>
		        	<li><a href="/about">About me</a></li>
	        		<li><a href="/blog/">Archives</a></li>
				<!-- <li><a href="http://kaniket1.github.io/blog/atom.xml">RSS</a></li> -->
				</div>
				</div>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer style="border: none;">
	    		<ul>
					<div class="citiesheader">
	        		<li><a href="mailto:kumar.aniket@gmail.com">email</a></li>
	        		<li><a href="http://kaniket1.github.io">kaniket1.github.io</a></li>
				</div>
				</ul>
			</footer>
		</body>
	</html>


