---
layout: default
---


<!-- <div class="post"> -->
<h1>
	<div class="citiestitle">
	{{ page.title }}
	</div>
</h1>
<ul>
<div class="card">
	<!-- <br style="clear: left;" /> -->
		<!-- <div> -->
		  <!-- <div style="float: left" > Kumar Aniket</div> -->
		  <!-- <div style="float: right" > {{ page.date | date_to_string }} </div> -->
	  	<!-- </div> -->
	<!-- <br style="clear: left;" /> -->
  {{ content }}
</div>
</ul>
<!-- </div> -->






<!-- <p class="meta"><h3>Kumar Aniket <br><br> {{ page.date | date_to_string }}</h3></p> -->